   body {
   	font-family: 'Reem Kufi', sans-serif;
   color: #15203B;
   /*background-image: url("background/home_bg.png");
 background-color: #768CB6; #152F72 --> dark blue for log a plastic btn
   background-image: linear-gradient(179deg, #15203B, #2B3B63, #768CB6 35%);*/
    background-image: linear-gradient(179deg, #314882, #8C9EC0 20%, #768CB6, #cfcfcf 80%, #c0c0c0 85%, #D2CC76);
     background-position: center;
	}

.demo-stuff {
	font-size: 18px;
	height: 30px;
	color: #fff;
	text-shadow: 1px 1px #802D2F;
	box-shadow: 2px 2px 1px #15203B;
	border-radius: 1px;
	background: #314882;
}

 .container {
 	margin-top: 16%;
 }
.plastrack {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 75px;
	color: #DFD32B;
	letter-spacing: -2px;
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 2px 2px 1px red;
}

h2 {
	color: white;
   	font-family: 'Reem Kufi', sans-serif;
	text-align: center;
	font-size: 20px;
	margin: 0;
}

h2 b {
   	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 35px;
}

h1 {
	font-family: 'Reem Kufi', sans-serif;
    font-size: 65px;
}

.jumbotron.log, .menu-options {
	background-color: #314882;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.jumbotron.log{
	border-radius: 30px;
	text-shadow: 3px 3px #15203B;
	box-shadow: 6px 6px 1px #15203B;
}

.log {
	height: 130px;
	margin: 0;
}
.log:hover{
	box-shadow: 5px 5px 1px #DFD32B;
}
.menu-options {
	height: 50px;
	margin: 10px 0px 0px 0px;
	background: #768CB6; 
	text-shadow: 1px 2px #15203B;
	border: none;
	border-radius: 15px;
	border-left: 2px solid #5F77A6;
	border-top: 2px solid #5F77A6;
	box-shadow: 5px 5px #5F77A6;
	/*
	border-left: 1px solid #5F77A6;
	border-top: 1px solid #5F77A6;
	box-shadow: 4px 4px #152F72;*/
}

.jumbotron.log:hover {
	background-color: #768B6;
	box-shadow: 6px 6px 1px #DFD32B;
}

.menu-options:hover {
	background: #768CB6;
	border-left: 2px solid #DFD32B;
	border-top: 2px solid #DFD32B;
	box-shadow: 5px 5px #DFD32B;
}

.menu-options:hover h2, .jumbotron.log:hover h2 {
	text-shadow: 2px 4px 2px #152F72;
	color: white;
}

.jumbotron.log:hover h2 b{
	text-shadow: 3px 5px 1px red;
	color: white;
}


a:active {
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}
