#today, #week, #month {
  font-size: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#all {
  font-size: 50px;
  height: 7vh;
}
#small, #medium, #large {
  font-size: 20px;
}
#all, #small, #medium, #large, .plastic-num1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-stats {
  margin-bottom: 3vh;
}

.all-buttons, .stats-button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: left;
}
#log-history {
  margin-bottom: 0px;
}
.all-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.stats-button {
  background-color: gray; 
  width: 33%;
  height: 50px;
}
#today {
  border-radius: 20px 0px 0px 20px;
}
#month {
  border-radius: 0px 20px 20px 0px;
}
#total-desc {
  margin-bottom: 20px;
}

.plastic-num, .plastic-num1 {
  margin-bottom: 0px;
  padding: 0;
}
.plastic-num {
  height: 5vh;
}
.plastic-num1 {
  height: 2vh;
}
.num-stats {
  padding-left: 0px;
  padding-right: 0px;
}

.date-stats, .graph {
  border-radius: 30px;
}
.general-stats {
  display: flex;
  justify-content: center;
}

.graph-box {
  margin-top: 20px;
  border-radius: 30px;
  width: 100%;
  height: 345px;
  background-color: grey;
}

.graphs {
  height: 50vh;
  overflow-x: scroll;
  width: 90%;
  margin-bottom: 5vh;
  scroll-snap-type: x mandatory;
  display: flex; 
  flex-direction: row;
  border: 2px solid black;
}

.g-row {
  display: flex;
  justify-content: center;
}

#linegraph, #linegraph1 {
  scroll-snap-align: start;
}

.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 4vh;
}
