.all-buttons, .stats-button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
#log-history {
  margin-bottom: 0px;
}
.all-buttons {
  margin-top: 20px;
  width: 100%;
}
.stats-button {
  background-color: gray; 
  width: 25%;
  height: 50px;
}
#today {
  border-radius: 20px 0px 0px 20px;
}
#year {
  border-radius: 0px 20px 20px 0px;
}
#total-desc {
  margin-bottom: 20px;
}

.plastic-num, .plastic-num1 {

  margin-bottom: 0px;
  padding: 0;
}
.plastic-num {
  height: 50px;
}
.plastic-num1 {
  height: 25px;
}
.num-stats {
  padding-left: 0px;
  padding-right: 0px;
}

.date-stats, .graph {
  border-radius: 30px;
}
.general-stats {
  display: flex;
  justify-content: center;
}

.graph-box {
  margin-top: 20px;
  border-radius: 30px;
  width: 100%;
  height: 200px;
  background-color: grey;
  text-align: center;
  text
}
