body {
	background-color: white;
}

h1 {
	background-color: #efefef;
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	color: black;
}

#formContainer{
	background-color: white;
	box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-radius: 30px;
	width: 85%;
	height: 45%;
	margin: 10px auto;
}

#header{
	width: 100%;
	height:10px;
}

#email {
	width: 90%;
	height: 40px;
	display: block;
	margin: 25 auto;
	border: none;
	outline: none;
	border-bottom: 2px solid #111;
}

#password{
	width: 90%;
	height: 40px;
	display: block;
	margin: 10 auto;
	border: none;
	outline: none;
	border-bottom: 2px solid #111;
}

#buttons{
	width: 90%;
	margin: auto;
}

#signUp{
	background-color: #314882;
	color: white;
	border: none;
	font-weight: bold;
	width: 35%;
	padding: 15px 15px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin-top: 20px;
	margin-left: 50px;
}

#signIn{
	background-color:#396B43;
	color: white;
	font-weight: bold;
	border: none;
	width: 35%;
	padding: 15px 15px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}


#signOut{
	background-color: #333;
	color: white;
	font-weight: bold;
	border: none;
	padding: 15px 32px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin-top: 12px;
	margin-left: 113px;
}

button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}